* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.slide-banner a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #f5f5f5;
    letter-spacing: 0.1px;
    margin-top: 0px;
    margin-left: 0px;
}

.inline {
    display: inline-block;
}

.mui-zebra-module {
    box-sizing: border-box;
    background-color: rgb(0, 62, 82);
    z-index: 300;
    position: fixed;
    top: 0px;
    width: 100%;

}

.top-banner {
    height: 300px;
    min-width: 1188px;
    background-color: rgb(206, 235, 235);
}

.page {
    background-size: 1920px;
    background-position: 50%;
    min-width: 1188px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
    -webkit-tap-highlight-color: transparent;


}

.image {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.hover-link:hover {
    text-decoration-line: underline;
}

.links-list-header-content {
    position: relative;
    background: rgb(8, 54, 69);
    min-width: 1006px;
    margin: 0;
    padding: 0;
    display: block;
    transition: height .25s linear, zIndex 0s linear .25s;
    box-sizing: content-box;
    text-align: right;


}

.links-list-header-content-2 {
    position: relative;
    width: 1188px;
    box-sizing: border-box;
    display: block;
    text-align: left;
    margin: auto;

}

.top-links-item {
    position: relative;
    display: inline-block;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    cursor: pointer;
    color: #a8b2b7;
    -webkit-transition: color .2s;
    transition: color .2s;
    padding: 0 17px;
    box-sizing: border-box;
    margin: 0;
    text-align: right;
}

.top-links-item-a {
    color: #a8b2b7;
}

.top-links-item:hover {
    color: #ffffff !important;
}

.top-links-item-a:hover {
    color: #ffffff !important;
}

#first-top-links-item {
    margin-left: 150px;
}

.lzd-logo-bar {
    padding-top: 11px;
    box-sizing: border-box;
    height: 75px;
    margin: 0px;
    background-color: #003e52;
    display: block;


}

.lzd-logo-bar-in {
    width: 1188px;
    margin: 0 auto;
    position: relative;
    min-width: 1188px;
}

.lzd-logo-content {
    display: inline-block;
    width: 200px;
    height: 45px;
    background-color: #003e52;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    line-height: 45px;


}

#logo1 {
    width: 127px;
    height: 40px;
    box-sizing: content-box;
    border: none;
    margin: 0px;
}

.lzd-nav-search {
    width: 688px;
    display: inline-block;
    height: 45px;
    background-color: #fff;
    border-radius: 3px;
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;

}

.search-top {
    box-sizing: border-box;
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 45px;

}

.search-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    display: block;
}

#input1 {
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    padding: 13px 19px;


}

.search-icon {
    float: right;
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    top: 0;
    border: none;
    box-sizing: border-box;
}


#btn-search {
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    border: none;
    border-radius: 0 2px 2px 0;
    outline: none;
    background: #f57224 url("data:image/svg+xml;charset=utf-8,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cdefs%3E%3Cstyle/%3E%3C/defs%3E%3Cpath d='M695.467 622.933h-38.4l-12.8-12.8c46.933-55.466 76.8-128 76.8-204.8 0-174.933-140.8-315.733-315.734-315.733s-320 136.533-320 311.467S226.133 716.8 401.067 716.8c76.8 0 149.333-29.867 204.8-76.8l12.8 12.8v38.4l243.2 243.2 72.533-72.533-238.933-238.934zm-294.4 0c-119.467 0-217.6-98.133-217.6-217.6s98.133-217.6 217.6-217.6 217.6 98.134 217.6 217.6c4.266 119.467-93.867 217.6-217.6 217.6z' fill='%23FFF'/%3E%3C/svg%3E") 50% no-repeat;
    background-size: 22px;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer
}

.laz-icon-cart {
    display: inline-block;
    width: 40px;
    height: 38%;
    margin: 0 0 0 20px;
    position: relative;
    box-sizing: border-box;

}

.laz-icon-cart2 {
    position: absolute;
    bottom: 5px;
    left: 0px;

}

.fas fa-shopping-cart fa-2x {
    background-color: aqua;
    width: 100px;
}

.slide-banner {
    display: block;
    clear: both;
    position: relative;
    margin-top: 100px;
    height: auto;
    width: auto;
    margin-bottom: 10px;
}

.slide-banner-in {
    width: 1188px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;

}


/* MENU MAIN */
.menu-main {
    position: relative;
    background: #f5f5f5;
    width: 200px;
    height: 361px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .25);
    display: block;
    float: left;
    z-index: 1000;
}

.menu-leve1 {
    height: 100%;
}

.menu-main ul {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    box-sizing: border-box;
    border-bottom: #a8b2b7 solid 1px;
}

.menu-main a {
    font-size: 13px;
}

.menu-main ul li {
    position: relative;
    display: block;
    list-style: none;
    background: #f5f5f5;
    width: 200px;
    line-height: 30px;
    padding: 0 10px;
    height: 30px;
    border-right: #a8b2b7 solid 1px;
}

.menu-main ul li:hover {
    background-color: #dbd8d5;
}

.menu-main ul li:hover>a {
    color: #1a9cb7;
}

.menu-main ul li a {
    text-decoration: none;
    color: #757575;
}

.sub-menu-1 {
    display: none;
    position: relative;
    left: 190px;
    top: -61px;
    height: 361px;
    background: #f5f5f5;
    width: 200px;
    border-right: #a8b2b7 solid 1px;
}

.sub-menu-2 {
    display: none;
    position: relative;
    left: 190px;
    top: -151px;
    height: 361px;
    width: 200px;
    background: #f5f5f5;
    border-right: #a8b2b7 solid 1px;
}

.sub-menu-3 {
    display: none;
    position: relative;
    left: 190px;
    top: -91px;
    height: 361px;
    background: #f5f5f5;
    width: 200px;
    border-right: #a8b2b7 solid 1px;
}

.menu-main ul li:hover .sub-menu-1 {
    display: block;
}

.menu-main ul li ul li:hover .sub-menu-2 {
    display: block;
}

.menu-main ul li:hover .sub-menu-3 {
    display: block;
}

.menu-main ul li ul li:hover .sub-menu-2 {
    display: block;
}

.menu-main ul li:hover .sub-menu-3 {
    display: block;
}

/* CARN BANNER */
.card-banner-slider-content {
    height: 361px;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 988px;

}

.card-banner-slider-list {
    height: 100%;
}

.card-banner-slider-item img {
    width: 100%;
    height: 100%;
}

.card-banner-slider-item {
    height: 100%;
}

.slider-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
    transition: all .3s ease;
}

.menu label:hover {
    background: red;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}

[id^="slide"]:checked+.slide {
    left: 0;
    z-index: 100;
    transition: left .2s ease-out;
}

.slide-1 {
    background-image: url("./Image/banner1.jpg");
}

.slide-2 {
    background-image: url("./Image/banner2.jpg");
}

.slide-3 {
    background-image: url("./Image/banner3.jpg");
}

.slide-4 {
    background-image: url("./Image/banner4.jpg");
}































.card-channel {
    margin-top: 36px !important;
    padding-top: 0 !important;
    display: block;
    margin: 0 auto;
    padding: 0;
    min-width: 300px;
}

.card-channel-in {
    box-sizing: border-box;
    display: block;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    width: 1188px;


}

.aer {
    background-color: #c98130;
}

.aer1 {
    background-color: aqua;
}

.c1 {
    width: 24.2%;
    background-color: #ffffff;
    border-radius: 20px;
    float: left;
    display: block;
    height: 40px;
    box-sizing: border-box;
    margin: auto 9px auto auto;


}

.card-channel-link:hover {
    color: red;

}

.c1:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    position: relative;
}

.card-channel-link {
    display: block;
    color: black;
    width: 100%;
    height: 100%;
}

.card-channel-icon {
    width: 32px;
    height: 32px;
    margin: 4px;
    float: left;
}

.card-channel-text {

    margin-left: 4px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    float: left;
}

.hp-mod-card {
    display: block;
    clear: both;
    width: 1188px;
    padding: 0;
    padding-top: 24px;
    margin: 0 auto;


}

.hp-mod-card-hover:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    position: relative;
}

.mod-card-header {
    height: 38px;
    line-height: 38px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hp-mod-card-tittle {
    float: left;
    font-family: Roboto-Regular;
    font-size: 24px;
    color: #424242;
    font-weight: 400;
    margin: 0;
}

h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card-most-popular-content {
    height: 210px;

}

.card-most-popular-left-panel {
    width: 20%;
    height: inherit;
    background-color: #ffffff;
}

.hp-mod-card-hover:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
}

.card-most-popular-right-panel {
    width: 80%;
    height: inherit;
    float: left;
    background-color: #f8f1ea;
}

.align-left {
    float: left;
}

.card-most-popular-box {
    width: 100%;
    height: 100%;
}

.card-most-popular-box a {
    height: 100%;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.card-most-popular-left-panel .card-most-popular-img {
    width: 144px;
    height: 144px;
    margin: 0 auto;
}

.card-most-popular-h1 {
    margin: 8px 8px 0;
    line-height: 18px;
    max-height: 36px;
    text-align: center;
    color: #212121;
    font-size: 14px;
}

.card-most-popular-p {
    text-align: center;
    font-size: 12px;
    margin: 4px 8px 0;
    color: #9e9e9e;
}

.card-most-popular-right-panel .card-most-popular-box {
    width: 25%;
    height: 105px;
    float: left;
}

.card-most-popular-right-panel .card-most-popular-box .card-most-popular-img {
    z-index: 1;
    width: 80px;
    height: 80px;
    margin: 12px 0 12px 12px;
    background-color: #ccd8d8;
}

.card-most-popular-right-panel .card-most-popular-desc {
    margin: 0 8px;

}

.card-most-popular-right-panel .card-most-popular-box .card-most-popular-h1 {
    margin: 12px 0 0;
}

.collections-list {
    width: 1188px;
    background-color: #afa8a8;
}

.card-collections-title {
    color: #1b1a1a;
    text-align: center;
    margin: 12px;
}

.shop-all {
    float: right;
    color: #1a9cb7;
    font-size: 16px;
}

i.fas.fa-chevron-right {
    color: #1a9cb7;
}

.card-collections-subtitle {
    color: #9e9e9e;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.card-collections-item {
    height: 146px;
    width: 25%;
    background-color: #fff;
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}

.card-collections-products {
    height: 67px;
    display: flex;
}

.image-wrapper {
    height: 67px;
    max-width: 67px;
}

.card-collections-product {
    float: left;
    margin: auto;
}

.collections-list .card-collections-item:nth-child(4n) {
    border-right: 0;
}

.collections-list .card-collections-item:nth-child(5),
.collections-list .card-collections-item:nth-child(6),
.collections-list .card-collections-item:nth-child(7),
.collections-list .card-collections-item:nth-child(8) {
    border-bottom: 0;
}

.card-jfy-row {
    height: 325px;
}

.card-jfy-item-wrapper {
    width: 189px;
    margin-right: 5px;
    min-height: 100%;
    background-color: #ffffff;
}

.card-jfy-row {
    margin-bottom: 20px;
}

.card-jfy-li-content {
    width: 100%;
    height: 100%;
    display: block;
}

.card-jfy-image {
    height: 189px;
    width: 189px;
}

.card-jfy-item-desc {
    padding: 4px 8px 12px;
}

.card-jfy-segment {
    min-height: 14px;
    margin: 2px 0;
}

.card-jfy-title {
    font-size: 14px;
    height: 36px;
    line-height: 18px;
    color: #212121;
    overflow: hidden;
}

.hp-mod-price {
    margin-top: 4px;
}

.hp-mod-price-first-line {
    font-size: 18px;
    height: 22px;
    line-height: 22px;
    color: #f57224;
}

.hp-mod-price-second-line {
    display: block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    color: #9e9e9e;
}

.hp-mod-price-text {
    text-decoration: line-through;
}

.hp-mod-discount {
    color: #212121;
    margin-left: 4px;
}

.card-jfy-footer {
    margin-top: 8px;
    height: 14px;
    clear: both;
}

i.fas.fa-star {
    color: #faca51;
    font-size: 9px;
    line-height: 11px;
    height: 11px;
    margin-right: -3px;
}

.card-jfy-ratings {
    position: relative;
    float: left;
    margin-right: 5px;
    margin-bottom: 3px;
    display: block;
    height: 11px;
    line-height: 11px;
}

.card-jfy-ratings-comment {
    float: left;
    font-size: 12px;
    color: #9e9e9e;
}

.card-jfy-nation {
    float: right;
    font-size: 12px;
    line-height: 14px;
    color: #9e9e9e;
    height: 14px;
}

.card-jfy-load-more {
    padding-top: 20px;
    padding-bottom: 10px;
    clear: both;
}

.button {
    font-family: Roboto-Medium;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.J_LoadMoreButton {
    border: 1px solid #1a9cb8;
    color: #1a9cb8;
    width: 387px;
    margin: auto;
}

.card-bottom-banner {
    border-top: 1px solid #e2e2e2;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* .card-bottom-banner-ul{
    height: 100%;
    display: inline-block;
} */
.card-bottom-banner-li-content {
    display: inline-block;
    height: 100%;
}

.card-bottom-banner-ul:after {
    content: ' ';
    clear: both;
    display: block;
}

.card-bottom-banner-li {
    width: 388px;
    height: 97px;
    margin-right: 12px;
    list-style: none;
}

.card-bottom-banner-li:nth-child(3) {
    margin-right: 0px;
}

*,
li,
ol,
ul {
    box-sizing: border-box;
    list-style: none;
}

.desktop-footer {
    font-size: 12px;
    width: 1188px;
    margin: auto;
}

.footer-first {
    padding: 20px 0 25px;
}

.lzd-footer-width-25 {
    width: 25%;
    display: block;
    float: left;
}

.lzd-footer-width-50 {
    width: 50%;
    display: block;
    float: left;
}

.footer-first .footer-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    margin: 0;
    color: #0f136d;
}

.lzd-footer-inner {
    overflow: hidden;
}

.footer-li a:hover {
    text-decoration-line: underline;
}

.footer-li>a {
    color: #0f136d;
}

.footer-first .footer-li {
    font-weight: 200;
    line-height: 17px;
    list-style: none;
}

.lzd-footer-app-downloads {
    margin-top: 25px;
}

.lzd-footer-appIcon.align-left {
    width: 42px;
    height: 42px;
}

.lzd-app-download-text {
    margin: 2px 2px 3px 10px;
}

.lzd-app-download-text.title {
    font-size: 16px;
    line-height: 16px;
    color: #f36f36;
}

.text {
    font-size: 14px;
    line-height: 14px;
    margin-top: 4px;
}

.icon-appStore-footer {
    width: 126px;
    height: 42px;
    background-image: url(./Image/lzd-footer/All.png);
    margin-left: 20px;
    background-position: -190px -124px;
}

.icon-android-footer {
    width: 128px;
    height: 43px;
    background-image: url(./Image/lzd-footer/All.png);
    background-position: -568px -374px;
    margin-left: 10px;
}

.lzd-footer-app-supplement {
    clear: both;
    margin-top: 8px;
}

.lzd-footer-app-downloads {
    margin-top: 25px;
    display: inline-block;
}

/* footer-second */
.footer-second {
    padding: 20px 0 25px;
    background-color: #fff;
}

h3.lzd-footer-h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 2.2em;
    color: #183544;
}

.lzd-footer-sprit {
    background-image: url(./Image/lzd-footer/All.png);
    display: inline-block;
}

.lzd-icon-payment {
    width: 53px;
    height: 39px;
    display: inline-block;
    margin: 0px 20px 10px 5px;
}

.lzd-footer-sprit-vn {
    background-image: url(./Image/lzd-footer/All2.png)
}

.lzd-icon-delivery {
    display: inline-block;
    margin: 0 25px 10px 0;
}

.footer-second .img-verify {
    width: 80px;
    margin: 0 20px 5px 0;
}

img.img-verify.img-pointer {
    width: 106px;
    display: block;
}

.lzd-footer-width-50.lzd-footer-left {
    -webkit-column-count: 2;
    column-count: 2;
}

.footer-third {
    padding: 60px 0 40px;
}

.lzd-footer-about {
    padding-right: 25%;
    color: #999;
}

.lzd-footer-title {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #606060;
}

p.particle {
    margin-bottom: 16px;
}

.desktop-footer a:hover {
    text-decoration-line: underline;
}

a.footer-section-3-column__link.hover-link {
    color: #199cb7;
}

.lzd-footer-top-category.lzd-footer-category-left {
    padding-right: 25%;
}

.lzd-footer-categoty-division {
    margin-bottom: 20px;
}

.lzd-footer-new a {
    color: #888;
}

a.lzd-footer-title-small {
    color: #292727;
    font-size: 11px;
    font-weight: 300;
}

a.lzd-footer-category-tag {
    line-height: 15px;
    display: inline-block;
    font-size: 11px;
    color: #888;
}

h3.lzd-footer-title {
    margin-top: 0px;
}

.footer-fourth .lzd-footer-title {
    margin: 5px 10px 5px 0;
    color: #2a2a2a;
}

.lzd-footer-copyright {
    font-size: 14px;
    float: right;
}

.lzd-footer-country {
    width: 34px;
    height: 34px;
}

.footer-fourth .country-id {
    background-position: -893px -710px;
}

.footer-fourth .country-my {
    background-position: -723px -710px;
}

.footer-fourth .country-ph {
    background-position: -852px -710px;
}

.footer-fourth .country-sg {
    background-position: -934px -710px;
}

.footer-fourth .country-th {
    background-position: -544px -710px;
}

.footer-fourth .country-vn {
    background-position: -634px -710px;
}

.footer-fourth .lzd-follow-us-icon {
    width: 34px;
    height: 34px;
}